body {
    box-sizing: border-box;
    margin: 0 auto;
}
header {
    background-image: url("./jacht.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}